@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Full height layout */
html, body {
  height: 100%;
  width: 100%;
}

body{
  background: #f4e6dc;
}

/* Flex wrapper */
.wrapper {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #D8B192;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

main {
  flex: 1;
  background: #f4e6dc;
}

/*Header*/

.header {
 
  font-family: "Lora", serif;
  color: #FFFFFF;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.header_menu{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  font-weight: 600;
  font-size: 1.25rem;
  gap: 20px;
}

.language-switcher{
  font-weight: 500;
  font-size: 1.25rem;
}

.language-switcher a:hover{
  color: #d29b6e;
  transition: color 0.5s ease;
}

.lang-active{
  color: #d29b6e;
}

.header_links{
  display: flex;
  gap: 20px;
  align-items: center;
}

.header_link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  padding: 4px 0;
}

.header_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #d29b6e; /* цвет подчёркивания */
  transition: width 0.8s ease;
}

.header_link:hover::after {
  width: 100%;
}

.header_logo{
  font-family: "Lora", serif;
  font-size: 1.5rem;
  letter-spacing: -2.5px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin: 0 auto;
}

.header_book{
  flex-shrink: 0;
}

.book-now {
 
  padding: 12px 24px;
  border: 1px #FFFFFF solid;
  border-radius: 25px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family: "Lora", serif;
  color: #FFFFFF;
  font-style: italic;
  font-weight: 600;
  font-size: 1.25rem;
  transition: background-color 0.5s ease;
}

.book-now:hover {
  background-color: #d29b6e;
}

.lang-switcher{
   
  align-items: center;
  flex-shrink: 0;
}

.lang-switcher select{
font-family: "Lora", serif;
  color: #FFFFFF;
  font-style: italic;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #d29b6e;
}
/*burger*/

.burger{
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 30px;
  min-height: 18px;
  position: relative;
  z-index: 50;
}

.burger span {
  height: 3px;
  width: 100%;
  border-radius: 3px;
  transform: scale(1);
  background-color: #FFFFFF;
}

.burger::before, .burger::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: #FFFFFF;
  transition: all 0.3s ease 0s;
}

.burger::before{
  top: 0;
}

.burger::after{
  bottom: 0;
}

.burger.active span{
  transform: scale(0);
}

.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

/*Hero*/

.hero_block{
  margin-bottom: 120px;
}
.hero_image{
  max-height: 800px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hero_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/*Services*/

.services_block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  margin-bottom: 120px;
}

.service{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.service_image{
  margin: 0 auto;
  max-height: 90px;
  max-width: 90px;
  overflow: hidden;
}

.service_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.service_image img:hover{
  transform: scale(1.03);
  transition: all 0.5s ease;
}


/*About me*/

.about{
  max-width: 1386px;
  border-radius: 25px;
  box-shadow: inset 0 0 16px 16px  rgba(216, 177, 146, 0.3);
  margin: 0 auto;
  margin: 76px;
}

.about_block{
  display: flex;
}

.about_image{
  max-height: 704px;
  flex: 0 0 50%;
  overflow: hidden;
  padding: 40px;
  
}

.about_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.h3{
  text-align: center;
}

.content{
  flex-basis: 50%;
  margin: auto auto;
  padding: 20px;
  max-width: 600px;
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #767676;
  text-align: justify;
}

.title{
  font-family: "Lora", serif;
  font-size: 2.12rem;
  font-weight: 600;
  color: #D8B192;
  text-align: center;
  line-height: 2;
  margin-bottom: 25px;
}



/*Nail Instruments*/
.nail{
  margin-bottom: 120px;
}
.nail_image{
  max-height: 400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.nail_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/*Price*/

.price{
  max-width: 1386px;
  border-radius: 25px;
  box-shadow: inset 0 0 16px 16px  rgba(216, 177, 146, 0.3);
  margin: 0 auto;
  margin: 76px;
}

.price_block{
  display: flex;
  
}

.price_content{
  max-width: 600px;
}
.servise_title{
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #767676;
}

.servise_price{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  gap: 20px;
}

.price_image{
   max-height: 704px;
  flex: 0 0 50%;
  overflow: hidden;
  padding: 40px;
}

.price_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

/*Gallery*/

.gallery-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}


/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/*Footer*/

footer{

background: #D8B192;
text-align: center;
font-family: 'Roboto', serif;
color: #FFFFFF;
}

footer hr{
  max-width: 1400px;
  margin-bottom: 35px;
}

.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 65px;
}

.footer_brand{
font-family: "Lora", serif;
font-weight: 600;
font-size: 2.2rem;
}

.menu_footer{
  display: flex;
  flex-direction: column;
 
}

.menu_title{
  font-weight: 600;
  font-size: 20px;
  line-height: 65px;
}

.menu_item{
  color: #F3F3F3;
  font-size: 1rem;
  text-align: justify;
}


.circle_social{
  display: flex;
  gap: 8px;
}

.circle{
  height: 48px;
  width: 48px;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
}

.circle img{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copiraigth{
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


/*---------------------*/
/*

.lang-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.lang-switcher a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.lang-switcher a:hover {
  background: #ff6f61;
  color: #fff;
}

*/


/* Адаптив */


/**/
@media(max-width: 1100px){

  .header_links{
    display: none;
  }

.burger{
  display: flex;
  order: 4;
}

.header_menu{
  order: 3;
}

.header_logo{
  order: 2;
}

.book-now{
    order: 1;
  }

  .header_link:hover::after{
    width: 0;
  }

  .header_links.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #D8B192;
    animation: burgerAnimation 0.4s;
  }

  
  .header_link{
    flex-direction: column;
    row-gap: 20px;
  }

  .title{
    font-size: 1.6rem;
  }

  
}
@media (max-width: 768px) {
  
  .header_logo{
    flex-shrink: 0; /*нельзя менять размер*/
    font-size: 1.3rem; 
  }
 
 

  .hero_block{
margin-bottom: 60px;
  }

  .about{
    margin: 16px;
  }

  .about_block{
    flex-direction: column;
margin-bottom: 60px;
width: 100%;
  }

  .items{
   grid-template-columns: 1fr 1fr;
  }

  .services_block{
    margin-bottom: 60px;
  }

  .price{
    margin: 16px;
  }

  .price_block{
       flex-direction: column;
margin-bottom: 60px;
width: 100%;
  }

  .hero_block{
    flex-direction: column;
    width: 100%;
  }

  .hero-1{
    display: none;
  }

  .footer{
    flex-direction: column;
    width: 100%;
  }

  .menu_item{
    align-self: center;
  }

  .footer_contact{
    align-self: center;
  }

  .footer_social{
    align-self: center;
  }
}

@media (max-width: 640px){
  header{
    padding: 16px;
  }

  .header{
    flex-shrink: 1;
  }
  
  .header_menu{
    width: 100%;
  }
  
  .lang-switcher{
    font-size: 0.8rem;
  }
  .header_book{
  }

  .book-now {
  padding: 10px 18px;
  border: 1px #FFFFFF solid;
  border-radius: 18px;
  font-size: 0.8rem;
}
  .header_logo{
    font-size: 1.2rem;
  }

  .service_image{
  max-height: 80px;
  max-width: 80px;
}
 
}

@media (max-width: 576px) {
 
  
  .header_logo{
    font-size: 1rem;
    position: absolute;
    top:0;
  }

  .burger{
    align-self: flex-end;
  }

   .header{
    flex-direction: column-reverse;
  }

  .items{
    grid-template-columns: 1fr;
  }

  .block_title{
    font-size: 1.6rem
  }
};   /* мелкая настройка шрифтов и отступов */

@media (max-width: 320px){
   header{
    padding: 14px;
  }
 
}

/* ==== Адаптив ==== */
@media (max-width: 992px) {
  .header_links {
    display: none;
  }
  .burger_block {
    display: block;
  }
}
